@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    box-sizing: border-item;
    overflow: hidden;
}

/* Barra Lateral */

.cabecalho {
    background-color: #204060;
    width: 100%;
    height: 10%;
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cabecalho h5 {
    position: absolute;
    color: #fff;
    left: 30px;
}
.logo {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img {
    height: 50%;
    position: absolute;
    right: 30px;
}

/* Container */

.tela {
    width: 100%;
    height: 90%;
    bottom: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
}

/* Tela Formulario */

.janela-flutuante {
    width: 1300px;
    height: 70%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 5px 5px 20px #ccc;
    border-radius: 10px;
    background-color: #fff;
    color: #204060;
}

/* Divs da Lista */

.topo-lista {
    background-color: #204060;
    width: 100%;
    height: 80px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
}
.ajuste {
    width: 98%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
.lista-box {
    width: 98%;
    height: calc(100% - 210px);
    overflow: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 95px;
}
.lista-box::-webkit-scrollbar {
    background-color: #fff;
    width: 10px;
}
.lista-box::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 5px;
}
.lista{
    width: 99%;
    height: 80px;
    display: flex;
    align-items: center;
    top: 0;
}
.lista:hover {
    background-color:#204060;
}
.lista a {
    display: flex;
    align-items: center;
}

/* Itens da Lista */

.id-topo, .nome-topo, .tipo-topo, .id-lista, .nome-lista, .tipo-lista{
    display: flex;
    align-items: center;
    height: 90%;
    letter-spacing: 2px;
    margin-right: 20px;
}
.id-topo, .nome-topo, .tipo-topo {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}
.id-lista, .nome-lista, .tipo-lista {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
}
.id-topo, .id-lista {
    width: 80px;
    margin-left: 50px;
    margin-right: 80px;
    justify-content: center;
}
.nome-topo, .tipo-topo, .nome-lista, .tipo-lista {
    width: 300px;
}

/* POPUP */

dialog::backdrop {
    background-color: rgba(0,0,0,75%);
}
dialog {
    width: 600px;
    height: 500px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #111;
    margin: auto;
}
.titulo, .popup-editar, .popup-voltar {
    position: absolute;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.titulo {
    top: 60px;
}
.popup-editar {
    height: 100%;
    flex-direction: column;
}
.popup-voltar {
    bottom: 60px;
}
.titulo h1 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #204060;
}
.titulo h1::after {
    content: '';
    display: block;
    position: relative;
    width: 400px;
    height: 2px;
    margin: 10px 0px;
    border-radius: 10px;
    background-color: #204060;

}
.popup-editar button {
    border: none;
    cursor: pointer;
    background-color: #204060;
    border-radius: 15px;
    width: 310px;
    height: 50px;

    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #ffffff;
    
}
.popup-editar button:hover {
    background-color:#153555;
}
#popup-veiculo {
    margin: 10px 0px;
}
.popup-voltar button {
    cursor: pointer;
    background-color: #fff;
    border: 3px solid #204060;
    border-radius: 15px;
    width: 300px;
    height: 48px;
    
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #204060;   
}
.popup-voltar button:hover {
    background-color:#eee;
}

/* Config Botões */

.botao-voltar {
    width: 100%;
    height: 100px;
    position: absolute;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
}
.botao-voltar button {
    cursor: pointer;
    position: relative;
    background-color: #fff;
    border: 3px solid #204060;
    border-radius: 15px;
    width: 350px;
    height: 50px;
    
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #204060;
}
.botao-voltar button:hover {
    background-color:#eee;
}
.botao-lista {
    width: 400px;
    height: 80px;
    right: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
a {
    text-decoration: none;
}
#botao-ver, #botao-editar, #botao-excluir {
    cursor: pointer;
    position: absolute;
    background-color: rgba(0,0,0,0);
    border: 2px solid #204060;
    width: 90px;
    height: 38px;
    border-radius: 10px;

    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #204060;
}
#botao-ver {
    right: 240px;
    width: 100px;
}
#botao-editar {
    right: 140px;
}
#botao-ver:hover, #botao-editar:hover {
    background-color:#204060;
    border: none;
    color: #fff;
    font-weight: 400;
}
#botao-excluir {
    border: 2px solid rgb(180, 24, 24);
    color: rgb(180, 24, 24);;
    right: 40px;
}
#botao-excluir:hover {
    background-color: rgb(180, 24, 24);
    border: none;
    color: #fff;
    font-weight: 400;
}

/* Responsividade */

@media screen and (min-width: 2900px) {
    .janela-flutuante {
        width: 2000px;
    }
}

@media screen and (max-width: 1500px) {
    .logo img {
        height: 40%;
    }
    .janela-flutuante {
        width: 900px;
    }
    .lista-box {
        height: calc(100% - 176px);
    }
    .lista{
        height: 56px;
    }
    .id-topo, .nome-topo, .tipo-topo, .id-lista, .nome-lista, .tipo-lista{
        margin-right: 10px;
    }
    .id-topo, .nome-topo, .tipo-topo {
        font-size: 14px;
    }
    .id-lista, .nome-lista, .tipo-lista {
        font-size: 10px;
    }
    .id-topo, .id-lista {
        width: 80px;
        margin-left: 30px;
        margin-right: 40px;
    }
    .nome-topo, .tipo-topo, .nome-lista, .tipo-lista {
        width: 200px;
    }
    .botao-lista {
        width: 280px;
    }
    #botao-ver, #botao-editar, #botao-excluir {
        width: 75px;
        height: 27px;
        border-radius: 7px;
        border: 1.5px solid #204060;
    
        font-size: 10px;
    }
    #botao-ver {
        right: 192px;
    }
    #botao-editar {
        right: 110px;
    }
    #botao-excluir {
        right: 28px;
    }
    .botao-voltar {
        height: 80px;
    }
    .botao-voltar button {
        width: 240px;
        height: 35px;
        border: 2px solid #204060;
        border-radius: 11px;
        
        font-size: 14px;
    }
    dialog {
        width: 400px;
        height: 340px;
    }
    .titulo {
        top: 20px;
    }
    .popup-voltar {
        bottom: 20px;
    }
    .titulo h1 {
        font-size: 20px;
        font-weight: 700;
    }
    .titulo h1::after {
        width: 250px;
    }
    .popup-editar button {
        border-radius: 11px;
        width: 210px;
        height: 35px;
    
        font-size: 12px;
    }
    #popup-veiculo {
        margin: 7px 0px;
    }
    .popup-voltar button {
        border: 2px solid #204060;
        border-radius: 11px;
        width: 200px;
        height: 33px;
        
        font-size: 13px;
    }
}
@media screen and (max-width: 1000px) {
    .cabecalho h5 {
        font-size: 12px;
    }
    .logo img {
        height: 30%;
    }
    .janela-flutuante {
        width: 90%;
        height: 85%;
    }
    .topo-lista {
        height: 20px;
    }
    .lista-box {
        top: 30px;
        height: calc(100% - 150px);
    }
    .lista{
        height: 120px;
        align-items: start;
        justify-content: center;
        flex-direction: column;
    }
    .id-topo, .nome-topo, .tipo-topo {
        display: none;
    }
    .id-lista, .nome-lista, .tipo-lista {
        justify-content: start;
        margin: 0;
        width: 300px;
        height: 30px;
        margin-left: 18px;

        font-size: 10px;
        font-weight: 700;
        letter-spacing: 1px;
    }
}
@media screen and (max-width: 700px) {
    .cabecalho h5 {
        font-size: 10px;
    }
    .botao-lista {
        width: 120px;
        height: 110px;
        flex-direction: column;
    }
    #botao-ver, #botao-editar, #botao-excluir {
        position: relative;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: 0;
    }
    #botao-editar {
        margin: 6px 0;
    }
    dialog {
        width: 320px;
    }
}
@media screen and (max-width: 500px) {
    .id-lista, .nome-lista, .tipo-lista {
        width: 55%;
    }
    dialog {
        width: 250px;
    }
    .titulo {
        top: 35px;
    }
    .popup-voltar {
        bottom: 35px;
    }
    .titulo h1 {
        font-size: 16px;
    }
    .titulo h1::after {
        width: 200px;
    }
    .popup-editar button {
        width: 170px;
        height: 32px;
        border-radius: 10px;

        font-size: 10px;
    }
    .popup-voltar button {
        width: 160px;
        height: 30px;
        border-radius: 10px;

        font-size: 11px;
    }
}
@media screen and (max-width: 350px) {
    .id-lista, .nome-lista, .tipo-lista {
        width: 50%;
    }
}
